body{
  margin:0;
  padding:0;
  font-family: 'VALORANT', sans-serif;
  color:#fa4454;
}

.box{
  width: 300px;
  padding:40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: black;
}

.box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #fa4454;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  font-weight:bold;
  font-size: 19px;
  border-radius: 24px;
  transition: 0.5s;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 5px auto;
  text-align: center;
  border: 2px solid #fa4454;
  padding: 14px 40px;
  outline: none;
  color: #fa4454;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'VALORANT', sans-serif;
}
.box input[type = "submit"]:hover{
  background: #fa4454;
}
